.footer {
  padding: 3rem;
  background: var(--bg-dark);
  color: #8f9aaa;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
}

.footerTop ul {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  flex: 1;
}

.footerTop ul li {
  text-align: Left;
  vertical-align: Center;
  letter-spacing: 0.1em;
  padding: 8px 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #c1c8d6;
}

.footerTop ul li:first-child {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8f9aaa;
}

.footerTop ul:last-child {
  flex: 0.5;
  background: blue;
}

.footerTop .footerDetails {
  flex: 0.75;
}

.footerTop .footerDetails h3 {
  margin-top: 7.5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8f9aaa;
}

.footerTop .footerDetails p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  display: flex;
  align-items: center;

  color: #c1c8d6;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 0.5px solid #8f9aaa;
  padding-top: 1rem;
  margin-top: 2rem;
}

.footerBottom span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  color: #c1c8d6;
}

.footerSocials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerSocials .icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.footerSocials .icon:last-child {
  margin-right: 0px;
}

@media (max-width: 500px) {
  .footerBottom {
    padding-top: 10px;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .footerTop form {
    flex-direction: column;
  }
}
