.featureItem {
  position: relative;
  width: 50%;
  /* margin: 10px 20px; */
  padding: 0 20px;
}

.featureItem .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  color: var(--primary-color);
}

.featureItem .featureItemDetails {
  margin-left: 60px;
}

.featureItem .featureItemDetails h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.featureItem .featureItemDetails p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 769px) {
  .featureItem {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .featureItem .icon {
    width: 30px;
    height: 30px;
  }

  .featureItem .featureItemDetails {
    margin-left: 40px;
  }
}
