.features {
  background: #fff;
  padding: 3rem 3rem;
}

.featureItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.featureHeader {
  text-align: center;
  margin: 2rem;
}

.featureHeader h2 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #2b2f35;
  margin: 20px;
}

.featureHeader p {
  max-width: 692px;
  margin: 0 auto;
}

.featureHeader p:first-child {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  .features {
    padding: 2rem;
  }
  .featureItems {
    flex-direction: column;
  }
}
