.navItem {
  padding: 10px 15px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #7b8798;
}

.navItem a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
}

.navItem:nth-child(6) {
  margin-left: auto;
}

.navItem:last-child,
.navItem:nth-child(6) {
  color: #fff;
}
