.logo {
  position: relative;
  width: 40px;
  height: 32px;
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #fb7854;
}

.triangleSmall {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: none;
  border-bottom: 10px solid #fb7854;
}

.halfCircle {
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
